@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: #ffffff;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  color: #fff;
  padding: 40px;
}

.left-items,
.right-items {
  display: flex;
  align-items: center;
  padding: 50px;
}

.left-items a,
.right-items a {
  display: inline-block;
  padding: 0 20px;
  color: #213f7d;
  text-decoration: none;
  font-size: 14px;
  line-height: 60px;
}

.left-items a:hover,
.right-items a:hover {
  color: #ccc;
}

.bell {
  padding-right: 10px;
}

.left-items {
  display: flex;
  justify-content: space-between;
}

.input {
  width: 400px;
  margin-left: 120px;
  height: 41px;
  border-radius: 8px 0px 0px 8px;
  opacity: 0.2;
  border: 1px solid #213f7d;
}
